@media (min-width: 993px)
  // Ховер лого (увеличение) ----------------------------------------------------------------------
  .header__logo
    &:hover
      transform: scale(1.1)

  // Ховер стрелочек слайдера ----------------------------------------------------------------------
  // .reviews
  //   &-slider
  //     &__button
  //       &--prev, &--next
  //         &:hover
  //           border-radius: 50%
  //           border: $dark 1px solid
  //           overflow: hidden

  // Ховер ссылок (плавное подчеркивание) ----------------------------------------------------------

  .navbar
    &-menu
      &__link
        display: inline-block
        line-height: 1
        text-decoration: none
        cursor: pointer
        position: relative
        &::after
          display: block
          content: ""
          height: 3px
          width: 0%
          left: 50%
          position: absolute
          background-color: #1565D8
          -webkit-transition: width .3s ease-in-out
          -moz--transition: width .3s ease-in-out
          transition: width .3s ease-in-out
          -webkit-transform: translateX(-50%)
          -moz-transform: translateX(-50%)
          transform: translateX(-50%)
          margin-top: 3px
        &:hover::after, &:focus::after
          width: 100%
    &-button
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1)
      &:hover
        background-color: #1565D8
        color: #fff

  // Ховер конопок (свечение) ----------------------------------------------------------------------
  // .button
  //   box-shadow: inset 0 0 20px rgba(255, 255, 255, 0)
  //   outline-color: rgba(255, 255, 255, .5)
  //   outline-offset: 0px
  //   text-shadow: none
  //   transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1)
  //   &:hover
  //     box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2)
  //     outline-color: rgba(255, 255, 255, 0)
  //     outline-offset: 15px
  //     text-shadow: 1px 1px 2px #427388
